<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="app.css" />
  </head>
  <body id="top">
    <div id="app" v-cloak>
      <p>
        <label for="fgColor">Text Color:</label>
        <select id="fgColor" v-model="fgColor">
          <option v-for="color in palette.colors" :value="color">{{color.name}} ({{color.value}})</option>
        </select>
      </p>
      <table>
        <thead>
          <tr>
            <th>Example</th>
            <th>Background</th>
            <th class="text-right">Contrast</th>
            <th>AA</th>
            <th>AAA</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="bgColor in colorsWithContrast">
            <td :style="{color: fgColor.value, backgroundColor: bgColor.value}">
              Example 123
            </td>
            <td>{{bgColor.name}}</td>
            <td class="text-right"><code>{{bgColor.contrast | toFixed}}</code></td>
            <td>{{bgColor.aa ? 'PASS' : 'fail' }}</td>
            <td>{{bgColor.aaa ? 'PASS' : 'fail' }}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <a id="bottom">
      <script src="vendor/lodash.min.js"></script>
      <script src="vendor/chroma.min.js"></script>
      <script src="vendor/vue.min.js"></script>
      <script src="app.js"></script>
    </a>
  </body>
</html>
