#loader {
  align-items: center;
  background-color: #f0f8ff; /* a.k.a. 'aliceblue' */
  display: none;
  flex-direction: column;
  font-family: sans-serif;
  height: 100vh;
  justify-content: center;
  text-align: center;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

#app[v-cloak] + #loader {
  display: flex;
}

.busy {
  animation: spin 0.9s linear infinite;
  border-color: transparent transparent currentColor currentColor;
  border-radius: 4rem;
  border-style: solid;
  border-width: 0.5rem;
  display: inline-block;
  height: 4rem;
  width: 4rem;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
