@import (reference) '../vars';
html {
  height: 100vh;
  margin: 0;
  padding: 0;
}

body {
  font-family: @ui-font-sans;
  height: 100vh;
  margin: 0;
  overflow-x: auto;
  overflow-y: hidden;
  padding: 0;
  width: 100vw;

  color: @gray-90;
  background-color: #fcfcfc;
}

pre,
code {
  font-family: @ui-font-mono;
}

/* hide loading vue app */
[v-cloak] { display: none; }
